/* General rules: */

html {
  font-size: 16px;
  height: 100vh;
}

body {
  background: radial-gradient(circle at top, hsl(214, 47%, 23%) 0, hsl(237, 49%, 15%) 100%);
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  font-family: 'Barlow Semi Condensed', sans-serif;
  font-weight: 600;
  height: 100%;
  margin: auto;
  padding: 50px;
  text-transform: uppercase;
}

img {
  display: block;
}

/* Header rules: */

header {
  border: 2px solid hsl(217, 16%, 45%);
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  margin: auto;
  max-width: 600px;
  padding: 20px;
  width: 95%;
}

h1 {
  font-size: 2rem;
  font-weight: 700;
  line-height: 2rem;
}

#score-box {
  background-color: white;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 120px;
  text-align: center;
}

#score-box > p:first-child {
  color: hsl(229, 64%, 46%);
  font-size: 0.8rem;
  letter-spacing: 0.1rem;
  line-height: 1rem;
}

#score {
  color: hsl(229, 25%, 31%);
  font-size: 3.2rem;
  line-height: 3.2rem;
}

/* Main content rules: */

main {
  align-items: center;
  background-image: url('../images/bg-triangle.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 50% 225px;
  display: flex;
  flex-wrap: wrap;
  height: 300px;
  justify-content: center;
  margin: auto;
  margin-top: 70px;
  max-width: 600px;
  width: 100%;
}

section {
  align-items: center;
  display: flex;
  height: 150px;
  justify-content: center;
  transition: opacity 0.3s ease-in-out;
  width: 50%;
}

.blue {
  background-image: linear-gradient(hsl(230, 89%, 65%), hsl(230, 89%, 62%));
  border-bottom: 5px solid hsl(230, 65%, 50%);
  position: relative;
  left: 30px;
  top: -30px;
}

.yellow {
  background-image: linear-gradient(hsl(40, 84%, 53%), hsl(39, 89%, 49%));
  border-bottom: 5px solid hsl(39, 70%, 35%);
  position: relative;
  right: 30px;
  top: -30px;
}

.red {
  background-image: linear-gradient(hsl(349, 70%, 56%), hsl(349, 71%, 52%));
  border-bottom: 5px solid hsl(349, 62%, 38%);
}

.wrapper {
  border-radius: 100%;
  height: 140px;
  width: 140px;
}

.wrapper:hover {
  cursor: pointer;
}

#paper {
  background-image: url('../images/icon-paper.svg');
}

#scissors {
  background-image: url('../images/icon-scissors.svg');
}

#rock {
  background-image: url('../images/icon-rock.svg');
}

.item {
  background-color: white;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 100%;
  border-top: 5px solid hsl(11, 0%, 80%);
  height: 110px;
  left: 15px;
  position: relative;
  top: 15px;
  transition: all 0.3s ease-in-out;
  width: 110px;
}

.item:hover {
  cursor: pointer;
  background-color: hsl(11, 0%, 80%);
}

/* Rules once a choice is made: */

#result {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  height: 250px;
  justify-content: space-around;
  max-width: 900px;
  opacity: 0;
  position: absolute;
  text-align: center;
  transition: opacity 0.4s ease-in-out 0.4s;
  width: 100%;
  z-index: -1;
}

#result h2 {
  font-size: 1.3rem;
  font-weight: 700;
}

.desktop {
  display: block;
}

.center {
  margin: auto;
}

.circle {
  background-color: hsla(230, 65%, 10%, 0.3);
  border-radius: 100%;
  height: 150px;
  margin-top: 30px;
  width: 150px;
}

.mobile {
  display: none;
}

#win-lose {
  display: block;
}

#sentence {
  font-size: 2.5rem;
  font-weight: 700;
  text-align: center;
}

#reset {
  background-color: white;
  border: 1px solid white;
  border-radius: 7px;
  color: hsl(229, 25%, 31%);
  margin: auto;
  padding: 10px 60px;
  transition: all 0.3s ease-in-out;
  width: 200px;
}

#reset:hover {
  background-color: hsla(217, 16%, 45%, 0.3);
  border: 1px solid hsl(11, 0%, 80%);
  color: white;
  cursor: pointer;
  opacity: 0.8;
}

/* Aside rules: */

aside {
  display: flex;
  flex-direction: row-reverse;
  margin: auto;
  margin-top: 30px;
  max-width: 1366px;
  width: 95%;
}

#rules-button {
  border: 1px solid white;
  border-radius: 5px;
  line-height: 0.8rem;
  padding: 10px 30px;
  transition: all 0.3s ease-in-out;
}

#rules-button:hover {
  background-color: hsla(217, 16%, 45%, 0.3);
  cursor: pointer;
  opacity: 0.8;
}

/* Rules for the game rules once displayed: */

#rules {
  background-color: white;
  border-radius: 8px;
  color: hsl(229, 25%, 31%);
  display: flex;
  flex-wrap: wrap;
  height: 350px;
  justify-content: space-between;
  opacity: 0;
  padding: 30px;
  position: fixed;
  transition: opacity 0.2s ease-in-out, height 0.2s ease-in-out, width 0.2s ease-in-out;
  width: 350px;
  z-index: -1;
}

#rules > h2 {
  font-size: 1.3rem;
  font-weight: 700;
}

#close {
  align-self: center;
  height: 7%;
  transition: all 0.2s ease-in-out;
  width: 7%;
}

#close:hover {
  cursor: pointer;
  filter: brightness(0);
}

#rules-of-game {
  margin-top: 15px;
}

/* Footer rules: */

footer {
  color: hsl(217, 16%, 45%);
  font-size: 0.8rem;
  margin-top: 70px;
  text-align: center;
  text-transform: none;
}

a {
  color: hsl(217, 16%, 7%);
  text-decoration: none;
  transition: all 0.3s ease-in-out;
}

a:hover {
  color: black;
}

/* Classes to add via main.js to change display of different items */

.icon {
  background-color: white;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 100%;
  border-top: 5px solid hsl(11, 0%, 80%);
  height: 140px;
  position: relative;
  left: 25px;
  top: 25px;
  width: 140px;
}

.background {
  position: relative;
  border-radius: 100%;
  height: 190px;
  width: 190px;
}

.paper {
  background-image: url('../images/icon-paper.svg');
}

.scissors {
  background-image: url('../images/icon-scissors.svg');
}

.rock {
  background-image: url('../images/icon-rock.svg');
}

.blueColor {
  background-image: linear-gradient(hsl(230, 89%, 65%), hsl(230, 89%, 62%));
  border-bottom: 5px solid hsl(230, 65%, 50%);
}

.yellowColor {
  background-image: linear-gradient(hsl(40, 84%, 53%), hsl(39, 89%, 49%));
  border-bottom: 5px solid hsl(39, 70%, 35%);
}

.redColor {
  background-image: linear-gradient(hsl(349, 70%, 56%), hsl(349, 71%, 52%));
  border-bottom: 5px solid hsl(349, 62%, 38%);
}

/* Intermediate design: */

@media only screen and (max-width: 830px) {

  #sentence {
    font-size: 1.6rem;
  }
}

/* Mobile design: */

@media only screen and (max-width: 650px) {

  html {
    height: unset;
  }

  header {
    margin-bottom: 0;
  }

  h1{
    font-size: 1.5rem;
  }

  #score-box {
    width: 80px;
  }

  main {
    background-size: 60% 150px;
    margin-top: 20px;
  }

  .blue {
    border-bottom: 3px solid hsl(230, 65%, 50%);
    left: 0;
    top: 10px;
  }

  .yellow {
    border-bottom: 3px solid hsl(39, 70%, 35%);
    right: 0;
    top: 10px;
  }

  .red {
    border-bottom: 3px solid hsl(349, 62%, 38%);
    position: relative;
    top: -10px;
  }

  .wrapper {
    height: 100px;
    width: 100px;
  }

  .item {
    border-top: 3px solid hsl(11, 0%, 80%);
    height: 80px;
    left: 10px;
    top: 10px;
    width: 80px;
  }

  #result h2 {
    font-size: 1.1rem;
  }

  #win-lose {
    order: 3;
  }

  .desktop {
    display: none;
  }

  .fifty {
    width: 50%;
  }

  .mobile {
    display: block;
    margin-top: 20px;
  }

  #sentence {
    font-size: 1.9rem;
    margin-top : 20px;
  }

  .background {
    height: 100px;
    width: 100px;
  }

  .icon {
    height: 80px;
    left: 10px;
    top: 10px;
    width: 80px;
  }

  aside {
    justify-content: center;
    margin-top: 40px;
  }

  #rules {
    align-items: center;
    border-radius: 0px;
    flex-direction: column;
    justify-content: space-evenly;
    height: 100vh;
    top: 0;
    width: 100vw;
  }

  #close {
    height: 30px;
    order: 3;
    width: 30px;
  }

  footer {
    margin-top: 30px;
  }
}